/* navbar.component.scss - mise à jour avec les variables du thème */

@use '../../../styles/theme' as *;
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  background-color: $color-primary-light;
  color:  $color-text-on-primary;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .brand-block {
    display: flex;
    align-items: center;

    .vl-icon {
      width: 32px;
      height: 32px;
      margin-right: 20px;
    }

    .brand {
      font-weight: bold;
      font-size: 1.2rem;
      margin-right: 25px;
      margin-top: 15px;
    }

    .subtitle {
      font-size: 0.9rem;
      margin-top: 15px;
      color: $color-text-on-primary;
    }
  }

  .nav-links {
    display: flex;
    gap: 1rem;

    a {
      color: #1a1a1a;
      text-decoration: none;
    }
  }
}
