<div class="home-container">


  <!-- Bloc haut avec image et présentation brève -->
  <div class="presentation-block" @staggerFadeInUp>
    <div class="photo fade-item" >
      <img src="assets/images/profile.webp" alt="Photo de profil" />
    </div>

    <div class="intro" >
      <h1 class="fade-item">Valérie Lecoeur</h1>
      <p class="subtitle fade-item">Experte en Ingénierie du Logiciel</p>
      <p class="description fade-item">
          Experte en ingénierie logicielle avec une spécialisation en
          développement full-stack et architecture logicielle. Passionnée par les
          nouvelles technologies et l'innovation dans le développement logiciel.
      </p>
      <p class="cta">
        <a href="#projets">Voir mes projets</a>
        <a href="#contact">Me contacter</a>
        <a href="assets/CV_Valerie_Lecoeur.pdf" download>Télécharger mon CV</a>
      </p>

    </div>
  </div>
</div>
