/* styles/theme.scss */

$color-primary-light: #b2dfdb;  // Bleu-vert clair (fond navbar, hover)
$color-primary: #26a69a;        // Turquoise doux (boutons principaux)
$color-primary-dark: #00796b;   // Sarcelle foncé (hover fort, accent)
$color-accent: #4dd0e1;         // Bleu glacier (CV téléchargeable, highlights)
$color-text-on-primary: #00332f; // Texte foncé sur fond clair
$color-text-light: #ffffff;     // Texte clair sur fond foncé

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e0f2f1; // reste adapté
  color: $color-text-on-primary;
}

/* Boutons personnalisés */
.custom-primary.mat-stroked-button {
  border-color: $color-primary !important;
  color: $color-primary !important;
  background-color: transparent;

  &:hover {
    background-color: $color-primary-light !important;
    color: $color-text-on-primary !important;
  }
}
