<div class="section">
  <p class="section-tag">// projets</p>
  <h2 class="section-title">Mes réalisations</h2>

  <div class="grid-2 mt-4">
    <!-- Exemple -->
    <article>
      <!--img src="assets/gamesup.webp" alt="GamesUP"-->
      <div style="padding:12px 14px;">
        <h3>ITGlobe Solutions</h3>
        <p class="short">Application de réservation et de suivi pour une SSII fictive.</p>
        <div class="hover-description">
          Projet simulant les besoins d'une entreprise de services du numérique : planification, réservations, interface Angular et API Spring Boot.
        </div>
        <div class="links mt-2">
          <a href="#">Demo</a>
          <a href="#">Code</a>
        </div>
      </div>
    </article>
    <article>
      <!--img src="assets/gamesup.webp" alt="GamesUP"-->
      <div style="padding:12px 14px;">
        <h3>O’Fit</h3>
        <p class="short">Coaching sportif avec UI intuitive et suivi de progression.</p>
        <div class="hover-description">
          Application responsive créée en mobile-first, gestion d'utilisateurs et statistiques personnelles, développement en Angular.
        </div>
        <div class="links mt-2">
          <a href="#">Demo</a>
          <a href="#">Code</a>
        </div>
      </div>
    </article>
    <article>
      <!--img src="assets/gamesup.webp" alt="GamesUP"-->
      <div style="padding:12px 14px;">
        <h3>GAMESUP</h3>
        <p class="short">Moteur de recherche de jeux vidéo avec base de données dynamique.</p>
        <div class="hover-description">
          Travail sur le filtrage, la recherche multicritère et l’optimisation des réponses utilisateur avec Angular et Firebase.
        </div>
        <div class="links mt-2">
          <a href="#">Demo</a>
          <a href="#">Code</a>
        </div>
      </div>
    </article>
    <article>
      <!--img src="assets/gamesup.webp" alt="GamesUP"-->
      <div style="padding:12px 14px;">
        <h3>PMT - Project Management Tool</h3>
        <p class="short">Gestion de projet avec rôles, tâches, permissions (Angular/Spring Boot).</p>
        <div class="hover-description">
          Projet d’envergure avec authentification, autorisations, et workflow projet. API REST backend Spring Boot connectée à une UI Angular.
        </div>
        <div class="links mt-2">
          <a href="#">Demo</a>
          <a href="#">Code</a>
        </div>
      </div>
    </article>
    <article>
<!--      <img src="assets/gamesup.webp" alt="GamesUP">-->
      <div style="padding:12px 14px;">
        <h3>Jeu Unity3D</h3>
        <p class="short">Prototype 3D d’exploration utilisant C# et moteur Unity.</p>
        <div class="links mt-2">
          <a href="#">Demo</a>
          <a href="#">Code</a>
        </div>
      </div>
    </article>

  </div>
</div>
