<div class="skills-container">
    <div class="skills-list">
    <div class="skill-category">
      <h3>Langages</h3>
      <ul>
        <li>Java</li>
        <li>C#</li>
        <li>Python</li>
        <li>JavaScript / TypeScript</li>
      </ul>
    </div>

    <div class="skill-category">
      <h3>Frameworks & Bibliothèques</h3>
      <ul>
        <li>Angular</li>
        <li>Spring Boot</li>
        <li>.NET / WPF</li>
        <li>Node.js</li>
      </ul>
    </div>

    <div class="skill-category">
      <h3>Outils & Méthodologies</h3>
      <ul>
        <li>Git / GitHub</li>
        <li>CI/CD (GitHub Actions)</li>
        <li>Méthodes agiles (Scrum)</li>
        <li>UML / Modélisation</li>
      </ul>
    </div>
  </div>
</div>

